/*在线交流*/
div.link{
    width: 26px;
    height: 80px;
    position: fixed;
    top: 115px;
    right: 10px;
    background: rgb(77,194,54);
    z-index: 99;
    font-weight: 900;
    cursor: pointer;
}
div.link>span{
    display: inline-block;
    color: white;
    width: 12px;
    font-size: 12px;
    margin-left: 7px;
    line-height: 17px;
    margin-top: 5.5px;
}
div.hoverLink{
    position: fixed;
    top: 115px;
    right: 10px;
    width: 95px;
    height: 99px;
    background: white;
    z-index: 99;
    display: none;
}
div.hoverLink>p{
    font-size: 12px;
    width: 95px;
    height: 26px;
    background: rgb(77,194,54);
    color: white;
    font-weight: 900;
    text-align: center;
    line-height: 26px;
}
div.hoverLink>div{
    background: white;
    width: 95px;
    height: 73px;
    font-size: 12px;
    font-weight: 900;
    color: rgb(49,153,29);
    text-align: center;
}
div.hoverLink>div>span{
    margin-left: -10px;
    line-height: 28px;
}
div.hoverLink>div>img{
    margin-top: 8px;
}